
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml
.env
.env.local
.DS_Store

# --- Build 
dist/
build/
out/

# --- Logs ---
logs
*.log
*.tmp
*.pid
*.seed
*.tgz

node_modules
dist
build
coverage
.env
.env.development


.vscode/
.idea/
*.swp

coverage/